.year-section {
  /* border-left: 10px solid blue;
  padding-top: 40px; */
}

.year-title {
  margin-left: -20px;
}

.card-columns {
  border-left: 10px solid blue;
  padding-left: 40px;
}

.card {
  
}
